.inline-class-wl{
    display: inline-block;
}
.w-ticker-name{
    width: 12%;
}
.w-ticker-delete {
    text-align: end !important;
    width: 10%;
    cursor: pointer;
}
.w-ticker-price{
    width: 15%;
}
.w-ticker-change-p{
    width: 15%;
}
.w-ticker-change-m{
    width: 15%;
}
.w-ticker-volume{
    width: 15%;
}
.w-ticker-mcap{
    width: 14%;
}
li.each-symbol-found {
    list-style: none;
    cursor: pointer;
}

.w-header-adjust, .w-ticker-adjust{
    text-align: center;
}
.w-header-name{
    width: 12%;
}
.w-header-price{
    width: 15%;
}
.w-header-change-p{
    width: 15%;
}
.w-header-change-m{
    width: 15%;
}
.w-header-volume{
    width: 15%;
}

.each-watclist, .each-watclist-header {
    border: 1px solid;
    padding: 15px 10px;
    border-radius: 5px;
}
.each-watclist-header {
    font-size: 1.4rem;
    border:1px solid #9adaff;
    background-color: #101d2b;
}
.each-watclist{
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-ticker {
    border: 1px solid #9adaff;
    background-color: #101d2b;
    padding: 10px;
    text-align: end;
    border-radius: 5px;
    margin: 20px 0px;
}

.button-watchlist-style{
    display: inline-block;
}

input#watchlist-input {
    width: 200px;
    margin-right: 15px;
    height: 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #101d2b;
}
.buttom-watchlist{
    height: 30px;
}
.buttom-watchlist {
    height: 35px;
    /* vertical-align: top; */
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #101d2b;
    color: white;
}

.symbol-autocomplete {
    position: absolute;
    /* right: -55px; */
    left: 390px;
    text-align: left;
    border: 1px solid;
    background-color: #101d2b;
    padding: 5px;
    border-radius: 3px;
    width: 305px;
    font-size: 1.2rem;
}

.each-symbol{
    margin-bottom: 5px;
    width: 30%;
}
.each-symbol-name{
    margin-bottom: 5px;
    width: 68%;
    font-size: 0.9rem;
    vertical-align: middle;
}

.typeOfdisplay{
    display: inline-block;
}