.inputField, .lbl-name {
    display: inline-block;
}

.lbl-name {
    width: 300px;
    font-size: 1.27rem;
    vertical-align: top;
}
.common-div-row{
    margin-bottom: 20px;
}
.contact-form {
    margin-top: 50px;
}

textarea.txtarea {
    width: 300px;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
}

input.ipStyle {
    width: 300px;
    height: 25px;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
}
.contact-component {
    font-size: 1.4rem;
    text-shadow: -2px -3px #3a708ae6;
}