
.eachtickerblock{
    display: inline-block;
    width: 11vw;
    height: 135px;
    padding: 5px;
    background-color: #05345030;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 4px 1px rgba(179, 179, 179, 0.5);
    padding: 10px;
    margin: 1%;,
    cursor: pointer;
}
.ticker-container {
    text-align: center;
    text-align: -webkit-center;
}

.tickername{

    margin-bottom: 5px;
    text-align: -webkit-left;
    padding-left: 5px;
    display: inline-block;
    margin-right: 5px;
    font-size: 1.2rem;

}
.tickerprice{
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
}
.up-down-percent{

    display: inline-block;
}

.up-color{
    color: #7eff10;
}
.down-color{
    color: #ff5d28;
}
.change-container-div{
    display: inline-block;
}
.bracket-open, .bracket-close
{

    display: inline-block;

}
div.up-down-icon-each {
    display: inline-block;
    margin-right: 2px;
}

.bracket-close
{
    margin-left: 2px;
}
.eachticker-header {
    display: block;
    text-align: left;
}
.bracket-open
{
    margin-right: 2px;
}
.anatomy-boundry {
    border: 2px solid;
    border-radius: 10px;
}
.close-btn {
    text-align: -webkit-right;
    text-align: right;
    display: inline-block;
    /* margin-bottom: 10px; */
    position: relative;
    top: -17px;
    background-color: #ff7835;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
    right: -20px;
}
.left-anatomy-div {
    display: inline-block;
    width: 93%;
    vertical-align: top;
}

.totalVal-div{
    text-align: left;
    margin-top: 10px;
    font-size: 0.9rem;
}

#totalValpercent{
    margin-right: 5px;
    display: inline-block;
}
div#totalVal {
    display: inline-block;
}
.span-lbl-gain {
    color: #2bffe5;
    vertical-align: top;
}

.values-div{
    display: inline-block;
}

.addstock-div{
    vertical-align: top;
    font-size: 1.2rem;
}
.addstock-label {
    margin-top: 5px;
    font-size: 1.7rem;
}
