div.cmn-style {
    display: inline-block;

}
div#cp-label {
    font-size: 2rem;
    margin-right: 20px;
}

.ac-value{
    font-size: 2rem;
    margin-right: 10px;
    color: #4ee4ff;
}

.ac-perventage-val{
    font-size:1.5rem;
}

.roundbracket{
    margin: 20px 0px;
    display: inline-block;
    font-size: 1.8rem;
}

div.icon-up-down-cp {
    padding-top: 0px;
}
.ac-perventage-val{
    padding-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.gain-color{
    color: #5af527;
}
.loss-color{
    color: rgb(255, 93, 40);
}
.container-plus-icon {
    margin: 10px;
    display: inline-block;
    border: 1px solid white;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.comma-spacing{
    margin-left: 5px;
    margin-right: 10px;
}