.Modal {
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
    /* bottom: 10%; */
    background-color: #484848e3;
    height: 370px;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2f2f2ff2;
}

.addticker-div {
    padding: 5% 20%;
}

.modal-input-style {
    display: inline-block;
    width: 68%;
}
.modal-label-style {
    display: inline-block;
    width: 30%;
}
.modal-ip-margin {
    margin-bottom: 15px;
}
input.modal-back-color {
    background-color: #454545;
    /* border-color: transparent; */
    border-bottom: #239a31;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid white;
    color: #99f189;
    height: 20px;
    font-size: 0.8rem;
}
.modal-buttons-div {
    text-align: center;
    margin-top: 50px;
}

button.modal-button-style {
    background: transparent;
    padding: 10px;
    color: white;
    border-radius: 3px;
    font-size: 0.9rem;
}

button.modal-button-style:hover {
    color: #99f189;
}
button.modal-button-style:focus {
    color: #99f189;
}
#modal-add-button{
    margin-right: 10px;
}

.modal-label {
    text-align: center;
    padding: 10px 0px 10px;
    font-size: 1.3rem;
    color: #a7f7ff;
    background-color: #2f3035;
    border: 1px solid lightgray;
    margin-bottom: 25px;
    border-radius: 5px;
}