.avtarholder {
    margin: 10px;
}

img.avtarStyle {
    width: 100px;
    border-radius: 50%;
}

.icon-setting > svg{

        width: 3rem;
        height: 3rem;
}
.icon-div{

    text-align: center;
    margin: 20px 0px;
    cursor: pointer;
}