
body{

    color: #fdfffffc;
    font-family: Calibri;
}

.appLogo-holder{

    width: 9%;
    display: inline-block;
    background-color: #05345030;
    height: 100vh;
}
.stockAnalytics-holder{
    width: 87.9%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.mainBodyright {
    display: inline-block;
    width: 30%;

    vertical-align: top;
}
.mainBodyleft {
    display: inline-block;
    width: 70%;

    vertical-align: top;
}

.headline-header {
    font-size: 1.3rem;
    font-weight: 500;
    background: white;
    color: #1772c5cf;
    padding: 10px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
}

